<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/journal.css">
  <link rel="stylesheet" href="/css/common-alert.css">
  <link rel="stylesheet" href="/css/header-footer.css">
  <title>기행문 열람</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/js/common.js"></script>
  <script type="module" src="/js/journal.js"></script>
</head>
<body>

<div th:replace="~{fragments/header :: headerFragment}"></div>


<div id="content-alert" class="nadeuli-alert" style="display: none;">
  <p id="content-alert-message"> 소중한 나들이 순간을 남겨 주세요! <button class="nadeuli-alert-button" onclick="closeNadeuliAlert('content-alert')">✅</button></p>
<!--  <button id="content-alert-button" onclick="closeContentAlert()">✅</button>-->
</div>

<div id="photo-size-alert" class="nadeuli-alert" style="display: none;">
  <p id="photo-size-alert-message"> 20MB 이하 사진 파일을 올려 주세요! <button class="nadeuli-alert-button" onclick="closeNadeuliAlert('photo-size-alert')">✅</button></p>
</div>

<div id="photo-type-alert" class="nadeuli-alert" style="display: none;">
  <p id="photo-type-alert-message"> 첨부 가능한 사진 파일이 아닙니다. <button class="nadeuli-alert-button" onclick="closeNadeuliAlert('photo-type-alert')">✅</button></p>
  <br>
  <p> (첨부 가능 파일 : .bmp, .gif, .jpeg, .png, .webp)</p>
</div>




<div class="container">
  <div class="left-space">
    <div class="content-header">
      <span id="date-time"></span>
      <div class="content-header-button">
        <button id="write-btn" onclick="enableEditMode()" style="display: none">✏️</button>
        <button id="edit-btn" onclick="enableEditMode()" style="display: none">✏️</button>
        <button id="delete-btn" onclick="confirmDelete()" style="display: none">❌</button>
      </div>
    </div>
    <hr class="divider">

    <div class="content" id="content">
      <!--      <p id="content-text" th:if="${journal.getContent() == }">소중한 나들이 순간을 기록하세요</p>-->
      <div id="no-content">소중한 나들이 순간을 남겨 주세요!</div>
      <div id="has-content"></div>
    </div>

    <!-- 수정 모드 -->
    <div id="edit-content-area" style="display: none;">
      <textarea id="content-input" rows="5"></textarea>
      <div class="button-group">
        <button onclick="saveContent()">저장</button>
        <button onclick="cancelEdit()">취소</button>
      </div>
    </div>

  </div>

  <div class="right-space">
    <div class="image-header">
      <div class="image-header-button">
        <button id="upload-btn" onclick="uploadPhoto()" style="display: none">🖼️</button>
        <button id="download-btn" onclick="downloadPhoto()" style="display: none">💾</button>
        <button id="modify-btn" onclick="modifyPhoto()" style="display: none">🖼️</button>
        <button id="remove-btn" onclick="confirmPhotoDelete()" style="display: none">❌</button>
      </div>
    </div>

    <div class="image-container" id="image-container">
      <span class="plus" id="plus-icon">+</span>
      <img id="image-preview" src="" style="display: none;">
    </div>
  </div>
</div>


<div class="footer-div mt-4 flex flex-col space-y-0.5 text-xs text-gray-500 md:mt-1 md:flex-row md:space-x-2 md:space-y-0 lg:mt-1">
  <span>© 2025 나들이 & 멋쟁이사자처럼 All rights reserved.</span>
</div>

</body>
</html>