<div th:fragment="headerFragment">
    <div class="header">
        <div class="header-inner">
            <div class="left-header">
                <a href="/" style="cursor: pointer;">
                    <img src="/pic-icon/logo-letter-x.png" alt="나들이" width="50px" height="50px" style="margin-top: 9px;">
                </a>
                <a href="/" style="cursor: pointer; text-decoration: none; text-align: center; color:#8E8B82;">나들이</a>
            </div>

            <div class="right-header" id="right-header"></div>
        </div>
    </div>

    <script src="/js/header.js"></script>
</div>
