@font-face {
    font-family: 'GriunNoltoTAENGGU';
    /*src: url('../fonts/Griun_NoltoTAENGGU-Rg.woff2') format('woff2');*/
    src: url('../fonts/Griun_NoltoTAENGGU-Rg.ttf') format('truetype');
}

body {
    font-family: 'GriunNoltoTAENGGU';
    font-size: 1.1rem; /* 기존 : 17px*/
    background-color: #E9DCBE;
    color: #343434;
    margin: 0;
    padding: 20px;

    flex-direction: column;  /* 페이지를 세로로 배치 */

    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    height: 100vh; /* 부모 요소의 높이를 전체 뷰포트 높이로 설정 */
    box-sizing: border-box;
    /*overflow: scroll;*/
}

.place-info {
    /*font-family: 'GriunNoltoTAENGGU';*/
    color: #343434;
    text-align: center;
}


.container {
    display: flex;
    width: 90%;
    max-width: 1700px;
    height: 90vh;
    /*border: 1px solid #343434;*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    background: #F3F3F3;

    /*overflow: auto;*/
    /*scroll-behavior: inherit;*/
}

/*!* 스크롤바 기본 디자인 *!*/
/*.container::-webkit-scrollbar {*/
/*    width: 1vh;  !* 얇고 슬림하게 *!*/
/*}*/

/*!* 스크롤바 트랙 (배경) *!*/
/*.container::-webkit-scrollbar-track {*/
/*    background: transparent; !* 기본적으로 배경 투명 *!*/
/*}*/

/*!* 스크롤바 핸들(움직이는 부분) *!*/
/*.container::-webkit-scrollbar-thumb {*/
/*    background: rgba(100, 100, 100, 0);  !* 기본적으로 투명 *!*/
/*    border-radius: 10px; !* 둥글게 *!*/
/*    transition: background 0.3s ease-in-out;  !* 부드러운 효과 *!*/
/*}*/

/*!* 마우스를 올리면 스크롤바가 보임 *!*/
/*.container:hover::-webkit-scrollbar-thumb {*/
/*    background: #8E8B82;*/
/*}*/

/*!* 스크롤바를 클릭하거나 드래그할 때 *!*/
/*.container::-webkit-scrollbar-thumb:active {*/
/*    background: #343434;*/
/*}*/

.left-space, .right-space {
    box-sizing: border-box;
    padding: 10px;
    display: flex;

    flex: 1;
    width: calc(100% - 20px); /* 패딩 및 마진을 고려한 너비 설정 */
    /*height: calc(100% - 20px);*/
    height: 100%
}

.left-space {
    width: 50%;
    /*display: flex;*/
    flex-direction: column;
}

.map-container, .expenses-container {
    flex: 1;
    border: 1px solid #ddd;
}

.map-container {
    height: 50%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.expenses-container, .journal-content {
    height: 50%;
    padding: 10px;
    margin-bottom: 5px;

    overflow: auto;
    scroll-behavior: initial;
}

/* 스크롤바 기본 디자인 */
.expenses-container::-webkit-scrollbar {
    width: 0.5vh;  /* 얇고 슬림하게 */
}

/* 스크롤바 트랙 (배경) */
.expenses-container::-webkit-scrollbar-track {
    background: transparent; /* 기본적으로 배경 투명 */
}

/* 스크롤바 핸들(움직이는 부분) */
.expenses-container::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0);  /* 기본적으로 투명 */
    border-radius: 10px; /* 둥글게 */
    transition: background 0.3s ease-in-out;  /* 부드러운 효과 */
}

/* 마우스를 올리면 스크롤바가 보임 */
.expenses-container:hover::-webkit-scrollbar-thumb {
    background: #8E8B82;
}

/* 스크롤바를 클릭하거나 드래그할 때 */
.expenses-container::-webkit-scrollbar-thumb:active {
    background: #343434;
}

.right-space {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: none !important;*/
}

/*.journal-container {*/
/*    flex: 1;*/
/*    border: 1px solid #ddd;*/
/*    padding: 10px;*/
/*    overflow: auto;*/
/*}*/

/*.image-container {*/
/*    width: 100%;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    margin-top: 10px;*/
/*}*/


.journal-space {
    flex-direction: column;
    display: flex;

    height: 100%; /* 명확한 높이 설정 */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;


    overflow: hidden;
    /*overflow: auto;*/
    /*scroll-behavior: initial;*/
}


.image-container, .journal-container {
    position: relative;
    min-height: 200px; /* 최소 높이 설정 */
    max-height: 100%;  /* 부모 요소의 높이를 넘지 않도록 */
    flex: 1; /* 두 요소가 같은 비율로 차지 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 내부 내용 가운데 정렬 */
    align-items: center;

    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/

}


.image-container {
    width: 100%;
    /*height: 50%;*/
    margin-top: 5px;
    margin-bottom: 10px;
    /*border-top: 1px solid #ddd;*/
}

.image-container img {
    display: block; /* 이미지 보이도록 */
    width: 100%;
    height: 100%;
    max-height: 100%; /* 부모 요소 높이를 넘어가지 않도록 */
    object-fit: contain;
    object-position: center;
}

/*.image-container img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    display: none;*/
/*    object-fit: cover;*/
/*}*/

.image-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%); /* 버튼이 정확히 중앙에 오도록 조정 */
}

.image-buttons button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: none;
}

.journal-space:hover .image-buttons button {
    display: block;
}

.divider {
    display: block;
    border: 1px solid #8E8B82;
    margin-bottom: 10px;
    width: 100%;

    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/

}


/*.journal-container {
    margin-bottom: 5px;
    overflow: auto;
    scroll-behavior: initial;
}*/

.journal-content {
    border: none;
}


/* 스크롤바 기본 디자인 */
.journal-content::-webkit-scrollbar {
    width: 0.5vh;  /* 얇고 슬림하게 */
}

/* 스크롤바 트랙 (배경) */
.journal-content::-webkit-scrollbar-track {
    background: transparent; /* 기본적으로 배경 투명 */
}

/* 스크롤바 핸들(움직이는 부분) */
.journal-content::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0);  /* 기본적으로 투명 */
    border-radius: 10px; /* 둥글게 */
    transition: background 0.3s ease-in-out;  /* 부드러운 효과 */
}

/* 마우스를 올리면 스크롤바가 보임 */
.journal-content:hover::-webkit-scrollbar-thumb {
    background: #8E8B82;
}

/* 스크롤바를 클릭하거나 드래그할 때 */
.journal-content::-webkit-scrollbar-thumb:active {
    background: #343434;
}



.journal-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;


    /*flex: 1;  !* 부모 요소 안에서 균등 분배 *!*/
    height: auto;
    min-height: 200px;  /* 최소 높이 지정 */
    /*max-height: calc(100% - 20px); !* 부모 높이를 초과하지 않도록 조절 *!*/

    overflow: auto;   /* 내용이 넘칠 경우 스크롤 가능 */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
}

/* 스크롤바 기본 디자인 */
.journal-container::-webkit-scrollbar {
    width: 0.5vh;  /* 얇고 슬림하게 */
}

/* 스크롤바 트랙 (배경) */
.journal-container::-webkit-scrollbar-track {
    background: transparent; /* 기본적으로 배경 투명 */
}

/* 스크롤바 핸들(움직이는 부분) */
.journal-container::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0);  /* 기본적으로 투명 */
    border-radius: 10px; /* 둥글게 */
    transition: background 0.3s ease-in-out;  /* 부드러운 효과 */
}

/* 마우스를 올리면 스크롤바가 보임 */
.journal-container:hover::-webkit-scrollbar-thumb {
    background: #8E8B82;
}

/* 스크롤바를 클릭하거나 드래그할 때 */
.journal-container::-webkit-scrollbar-thumb:active {
    background: #343434;
}
