@charset "UTF-8";

@font-face {
    font-family: 'GriunNoltoTAENGGU';
    /*src: url('../fonts/Griun_NoltoTAENGGU-Rg.woff2') format('woff2');*/
    src: url('../fonts/Griun_NoltoTAENGGU-Rg.ttf') format('truetype');
}

/* alert 창 */
.nadeuli-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #343434;
    background-color: #F3F3F3;
    padding: 20px;
    border: 2px solid #8E8B82;
    box-shadow: 0 4px 8px #343434;
    font-family: 'GriunNoltoTAENGGU'; /* 원하는 폰트 설정 */
    font-size: 1.2rem; /* 폰트 크기 설정 */
    border-radius: 5px; /* 테두리의 모서리를 둥글게 */
    z-index: 1000;

    flex-direction: column; /* flexbox 방향을 열로 설정 */
    align-items: center; /* 내용과 버튼을 가운데 정렬 */
    text-align: center; /* 텍스트를 가운데 정렬 */

    width: auto; /* 너비 자동 조절 */
    max-width: 80%; /* 최대 너비 설정 */
    height: auto; /* 높이 자동 조절 */
    max-height: 80%; /* 최대 높이 설정 */
    /*overflow: auto; !* 내용이 넘칠 경우 스크롤바 표시 *!*/
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
}

.nadeuli-alert p {
    margin: 0 0 10px 0;
    display: inline-block; /* 텍스트와 버튼을 같은 줄에 배치 */
}

.nadeuli-alert-button {
    font-size: 1.2rem;
    background-color: #F3F3F3; /* 배경색 */
    border: none; /* 테두리 제거 */
    padding: 0.5rem 0.1rem; /* 패딩 설정 */
    border-radius: 0.5rem; /* 테두리 모서리를 둥글게 */
    cursor: pointer; /* 커서 설정 */
    /*box-shadow: 0 0.2rem 0.4rem #343434; !* 그림자 효과 *!*/
    /*transition: background-color 0.3s ease; !* 배경색 전환 효과 *!*/
    margin-top: 10px; /* 위쪽 간격 추가 */
}


/* header */
.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1.5px solid #8E8B82;

    color: #343434;
    background-color: #F3F3F3;
    z-index: 1000;

}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1800px; /* 추후 결정 */

}

/*.left-header .logo {*/
.left-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    font-family: "GriunNoltoTAENGGU", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #8E8B82;
    text-decoration: none;
    margin-left: 30px; /* 로고 왼쪽 마진 */
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin-right: 30px;

    font-family: "GriunNoltoTAENGGU", sans-serif;
    font-size: 22px;
    color: #8E8B82;

    position: relative; /* dropdown이 right-header에 상대적으로 위치하도록 */
    /*display: inline-block;*/
}

.dropdown {
    position: absolute;
    top: 55px; /* balloon 밑에 위치하도록 조정 (풍선 아이콘의 높이에 맞춰) */
    right: 0; /* right-header 영역과 일치하도록 */
    width: 180px;
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 0.5rem; /* 테두리 모서리를 둥글게 */
    display: none;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10; /* 드롭다운을 우선순위로 표시 */
    cursor: pointer;
    pointer-events: auto; /* 드롭다운에서 마우스 이벤트 활성화 */

    /*padding: 20px; !* 패딩 추가 *!*/
    /*padding-top: 15px;*/
    margin-top: 10px; /* 드롭다운과 풍선 사이 여유 공간 추가 */

    /*visibility: hidden; !* 처음에는 보이지 않도록 설정 *!*/
    /*opacity: 0; !* 투명도를 0으로 설정 *!*/
    /*transition: visibility 0s 0.3s, opacity 0.3s ease; !* 부드럽게 나타나고 사라지게 설정 *!*/
    /*pointer-events: none;  !* 숨겨진 상태에서는 클릭을 받지 않음 *!*/
}

.dropdown::before {
    content: "";
    position: absolute;
    top: -30px;  /* 풍선과 겹치는 부분 */
    left: 0;
    width: 100%;
    height: 30px; /* 마우스 인식 영역 확장 */
    background: transparent; /* 눈에는 안 보이지만 영역만 확장 */
}

.dropdown a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #343434;
    display: block;
}

.dropdown hr {
    margin: 0;
    color: #343434;
    /*border: 0.1rem solid #343434;*/
    /*height: 1px;*/
}

/* 드롭다운을 보여줄 때 */
/*.right-header:hover .dropdown,*/
/*.right-header .dropdown:hover {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*    pointer-events: auto;  !* 보여지면 클릭 가능하게 *!*/
/*    transition: opacity 0.3s ease, visibility 0s;*/
/*}*/
.dropdown:hover .dropdown .dropdown a:hover {
    display: block;
}

.balloon {
    cursor: pointer;
    position: relative;
    /*display: inline-block;*/
    padding: 5px;
}


/* footer */
.footer-div, .footer-div-th {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: "GriunNoltoTAENGGU", sans-serif;
    font-size: 13px;
    color: #343434;

    width: 100%;
    /*position: fixed;*/
    /*bottom: 5px;*/
    padding: 10px 5px; /* 푸터의 상하 여백 */
}

.footer-div-th {
    position: fixed;
    bottom: 5px;
    z-index: -1;
    /*z-index: 1000;*/
}