<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>오류 발생</title>
  <link rel="stylesheet" href="/css/error.css">
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<div th:replace="fragments/header :: headerFragment"></div>


  <div class="container">
    <div class="left-space">
      <a href="/" style="cursor: pointer;">
        <img src="/pic-icon/logo-letter-o.png" alt="나들이" width="300px" height="300px">
      </a>
    </div>

    <div class="right-space">
      <h1>오류 발생</h1>
      <h1 th:text="${statusCode}" style="color: #E74C3C;"> </h1>
      <p th:text="${message}">예기치 못한 오류가 발생했습니다.</p>
      <a href="/" style="color: #3498DB; text-underline-offset: 5px">홈으로 돌아가기</a>
    </div>
  </div>


  <div class="footer-div mt-4 flex flex-col space-y-0.5 text-xs text-gray-500 md:mt-1 md:flex-row md:space-x-2 md:space-y-0 lg:mt-1">
    <span>© 2025 나들이 & 멋쟁이사자처럼 All rights reserved.</span>
  </div>

</body>
</html>
